Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! URxvt.font: xft:Noto Sans CJK JP:style=Regular:pixelsize=10
URxvt.font: xft:TakaoGothic:size=10
URxvt.depth: 32
URxvt*letterSpace: -1
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*saveLines: 5000

!terminal.sexy
! special
*.foreground:   #d1c1d4
*.background:   #150f17
*.cursorColor:  #d1c1d4

! black
*.color0:       #221823
*.color8:       #dfade8

! red
*.color1:       #2c202e
*.color9:       #54a9a0

! green
*.color2:       #3f3042
*.color10:      #75aee0

! yellow
*.color3:       #5a455e
*.color11:      #85d469

! blue
*.color4:       #7b6081
*.color12:      #df8b9b

! magenta
*.color5:       #a281a8
*.color13:      #6295c2

! cyan
*.color6:       #c3aec7
*.color14:      #c4a157

! white
*.color7:       #e8e0e9
*.color15:      #9bbfe4

! ! special
! *.foreground:   #695d69
! *.background:   #f7f3f7
! *.cursorColor:  #695d69

! ! black
! *.color0:       #1b181b
! *.color8:       #776977

! ! red
! *.color1:       #ca402b
! *.color9:       #ca402b

! ! green
! *.color2:       #379a37
! *.color10:      #379a37

! ! yellow
! *.color3:       #bb8a35
! *.color11:      #bb8a35

! ! blue
! *.color4:       #516aec
! *.color12:      #516aec

! ! magenta
! *.color5:       #7b59c0
! *.color13:      #7b59c0

! ! cyan
! *.color6:       #159393
! *.color14:      #159393

! ! white
! *.color7:       #ab9bab
! *.color15:      #f7f3f7
